{% extends 'navigation.html' %}
{% block body %}
{% load static %}

<div class="container" style="width:100%;background:white">
      <center><h2 style="padding-top:2;margin-top:5%;font-weight:bold;font-family : 'Monotype Corsiva' ;color:red">All Accepted Product</h2></center>
<hr>
 <div class="container-fluid">
   	<h1 class="text-center mt-5 mb-5">
        <center><h3 align="center" style="color:red">{{message1}}</h3></center>
   	</h1>
   		<div class="row" style="margin-bottom:5%">
			{% for j in pro %}
            {% if j.product.status.status == 'Accept' or j.product.status.status == 'Done' %}
				<div class="col-md-3">
                    <div style="padding:px;width:80%;margin-bottom:5%;border-radius:3%;border:1px solid grey">
					<center>
                        <button class="btn btn-success" style="width:70%">
                            <i style="color:yellow;font-size:20px" class="fa fa-clock-o"></i> {{j.product.session.time}}
                        </button>
                        <img src="{{j.product.images.url}}" style="margin-top:1%;width:170px;height:170px;float:center"></center>
   						<div style="padding:10px">
   						<h5 style="color:red;font-weight:bold"> {{j.product.name}} </h5>
                            <div class="row">
                            <div class="col-md-12">
                                <span style="font-weight:bold;color:blue">&#8377; : {{j.product.min_price}}</span>
                            </div>
                            </div></div>
                        {% if j.product.status.status != 'Done' %}
							<a href="{% url 'particpated_user' j.id %}"><button type="submit" class="btn btn-primary" style="width:100%">
                                    <i class="fa fa-users"></i> Participated</button></a>
                        {% else %}
                            <a href="{% url 'winner1' j.product.id %}"><button type="submit" class="btn btn-dark" style="width:100%">
                                    <i class="fa fa-user"></i> Winner</button></a>
                        {% endif %}
   				</div></div>
            {% endif %}
			{% endfor %}

	</div>
 </div>

      </div>
{% endblock %}