{% extends 'navigation.html' %}
{% block body %}
 <div class="container" style="background:white">
<center><h2 style = "font-family : 'Monotype Corsiva' ; color : #E6120E ; font-weight : bold;margin-top:2%">Bidding Status</h2></center><hr>
<div class="container-fluid" style="margin-top:5%">
</div>

<table class="table table-bordered" id="myTable">
  <thead>
  <tr>
    <th>Sr. No</th>
    <th>Product Name</th>
    <th>Seller Name</th>
    <th>Session Date</th>
    <th>Session Time</th>
    <th>Result</th>
    <th>Payment</th>
  </tr>
  </thead>
   <tbody>

{% for i in pro %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.aucted_product.product.name}}</td>
    <td>{{i.aucted_product.user.user.username}}</td>
    <td>{{i.aucted_product.product.session.date.date}}</td>
    <td>{{i.aucted_product.product.session.time}}</td>
      {% if i.result %}
    <td>{{i.result}}</td>
      {% else %}
<td style="color:green">Start on time</td>
      {% endif %}
      {% if i.payment.pay == "pending" %}
      <td><a href="{% url 'Payment_mode' i.id %}" ><button class="btn btn-primary">Pay online</button></a></td>
 {% else %}
      {% if i.payment.pay == "paid" %}
       <td>Paid</td>
       {% else %}
      {% if i.payment.pay == "reject" %}
      <td style="font-size:20px;color:red"><i class="fa fa-times"></i> </td>
      {% else %}
      <td>Not Available</td>
      {% endif %}
      {% endif %}
      {% endif %}
  </tr>
   {% endfor %}

    </tbody>
</table>

 </div>

<script>
            var el_up = document.getElementById("GFG_UP");

            el_up.innerHTML =
                "Click on the LINK for further confirmation.";
</script>
{% endblock %}
