{% extends 'navigation.html' %}
{% block body %}
 <div class="container" style="background:white">
<center><h2 style = "font-family : 'Monotype Corsiva' ; color : #E6120E ; font-weight : bold;margin-top:2%">Bidding Status</h2></center><hr>
<div class="container-fluid" style="margin-top:5%">
</div>

<table class="table table-bordered" id="myTable">
  <thead>
  <tr>
    <th>Sr. No</th>
    <th>Product Name</th>
    <th>Seller Name</th>
    <th>Session Date</th>
    <th>Session Time</th>
    <th>Status</th>
    <th>Winner</th>
  </tr>
  </thead>
   <tbody>

{% for i in pro %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.product.name}}</td>
    <td>{{i.user.user.username}}</td>
    <td>{{i.product.session.date.date}}</td>
    <td>{{i.product.session.time}}</td>
    <td>{{i.product.status.status}}</td>
      {% if i.product.status.status == 'Done' %}
    <td>{{i.winner}}</td>
      {% else %}
      <td style="color:green">NotStarted/NotProperBid</td>
{% endif %}
  </tr>
   {% endfor %}

    </tbody>
</table>

 </div>

<script>
            var el_up = document.getElementById("GFG_UP");

            el_up.innerHTML =
                "Click on the LINK for further confirmation.";
</script>
{% endblock %}
