{% extends 'navigation3.html' %}
{% block body1 %}
{% load static %}
<div class="container" style="background:white">
    <h2 style="font-weight:bold;font-family : 'Monotype Corsiva' ; color : #E6120E ;margin-top:20px" align="center">Update Session date</h2><hr>

<div align="left" class="container-fluid" style="width:70%;margin-top:5%">
<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">

    <div class="form-group col-md-12">
    <label for="exampleInputPassword1">Udate Session date</label>
    <input type="text" class="form-control" id="exampleInputPassword1" value="{{ses.date}}" name="date">
</div></div>

<div align="center">
  <button type="submit" class="btn btn-primary" style="width:40%;margin-bottom:5%">Submit</button></div>
</form>
</div>
</div>

{% if error %}
<script>
    alert('SessionDate Update Successfully');
    window.location = "{% url 'view_session_date' %}";
</script>
{% endif %}
{% endblock %}