{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<h3 align="center">Scan My QR Code</h3>
<div class="container" style="width:70%">
    <div class="row" style="boder:1px solid grey;border-radius:8px">
    <div class="col-md-6">
        <img src="{% static 'images/google_pay2.jpg' %}" style="width:100%;height:400px">
    </div>
    <div class="col-md-6">
        <img src="{% static 'images/QR.jpg' %}" style="width:100%;height:400px">
    </div></div>
    <h5 align="center" style="border:1px solid grey;padding:20px;font-weight:bold">Total : Rs. 100.00/-</h5>
<form action="" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary" style="width">Submit</button>
</form>
</div>

{% if terror %}
<script>
    alert('Membersip Granted Successfully,Again login for Service');
    window.location = "{% url 'login_user' %}";
</script>
{% endif %}

{% endblock %}
