{% extends 'navigation3.html' %}
{% load static %}
{% block body1 %}
<div class="container" style="padding:4%;background:white;margin:6%;height:400px">
    <div class="container" style="padding:10px;padding-top:0;background:blue;width:68%;height:300px">
    <div class="row">
        <div class="col-md-12">
            <img src="{% static 'images/source.gif' %}" style="width:100%;height:120px">
        </div>
    </div>
        <div class="row" style="">
        <div class="col-md-3">
            <img src="{{pro.user.image.url}}" style="width:100%">
        </div>
        <div class="col-md-9">
            <div class="row">
                <div align="left" class="col-md-5" style="font-family:cursive;color:white">
                    <h5>Bidder Name : </h5>
                    <h5>Phone : </h5>
                    <h5>Email : </h5>
                    <h5>Sold by : </h5>
                    <h5>Your offer Price : </h5>
                </div>
                <div align="left" class="col-md-7" style="color:yellow">
                    <h5><u>{{pro.user.user.first_name}} {{pro.user.user.last_name}}</u></h5>
                    <h5><u>{{pro.user.contact}}</u></h5>
                    <h5><u>{{pro.user.user.email}}</u></h5>
                    <h5>Rs. <u>{{pro.new_price}}.00 /-</u></h5>
                    <h5>Rs. <u>{{pro.aucted_product.product.min_price}}.00 /-</u></h5>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

{% endblock %}